{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "linebreak-style": 0,
    "no-use-before-define": 0,
    "arrow-body-style" : "warn",
    "import/no-unresolved": 0,
    "brace-style": {
      "allowSingleLine": true
    }
  }
}